@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/agave');

table {
   font-size: 0.9em;
   & tr td:first-of-type { font-weight:bolder; white-space:nowrap; }
   & td { border-color:white; border:0 !important; }
   & th { border-color:white; border:0 !important; }
   & td { border:0 !important; border-bottom: solid 2px silver !important; }
   & tr:last-of-type td { border-bottom:0 !important; }
   & tr:nth-child(even), tr:nth-child(odd)  {
      background-color: transparent !important;      
   }
}

h1, h2, h3 { 
   font-weight:700 !important; 
   letter-spacing:0 !important;  
   text-align: center !important;
   font-family: 'fira sans' !important; 
}

h2 { color: #DDD }

h3 { 
   font-size: 1.1em !important;
   font-weight: 100 !important;
   margin-top: -30px !important;
   margin-bottom: 40px !important;
}

strong, b {
   color: #DDD !important;
   font-weight: 700 !important;
}

section {
   letter-spacing: 0 !important;
   font-size: 2em !important;
   font-family: 'fira sans' !important;
   background: #252525 !important;
   font-weight: 100 !important;
}

[cols] { display:grid !important; gap: 50px !important; }
[cols='2'] { grid-template-columns: 1fr 1fr !important; }
[cols='*:1'] { grid-template-columns: auto 1fr !important; }