@import url(../@assets/css/index.css);

table td {
   border-color: #444 !important;
}

table {
   margin: 0px 30px !important;
   zoom: 0.95;
}

table th {
   font-weight: 700;
   border-bottom-style: dashed
}